<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/incorrect_questions">Incorrect Questions</a></li>
        </ul>
    </nav>
    <div class="quiz-container">
        <h1>{{ question['question_text'] }}</h1>
        <form id="quizForm" action="/submit_answer" method="post" class="quiz-form">
            <input type="hidden" name="question_id" value="{{ question['id'] }}">
            <label class="quiz-option">
                <input type="radio" name="user_answer" value="A" required>
                {{ question['option_a'] }}
            </label><br>
            <label class="quiz-option">
                <input type="radio" name="user_answer" value="B" required>
                {{ question['option_b'] }}
            </label><br>
            <label class="quiz-option">
                <input type="radio" name="user_answer" value="C" required>
                {{ question['option_c'] }}
            </label><br>
            <label class="quiz-option">
                <input type="radio" name="user_answer" value="D" required>
                {{ question['option_d'] }}
            </label><br>
            <button type="submit" class="quiz-submit-button">Submit Answer</button>
        </form>

        {% if result %}
            <p class="result">Result: {% if result.is_correct %}Correct!{% else %}Incorrect!{% endif %}</p>
            {% if not result.is_correct %}
                <p>Correct Answer: {{ result.correct_answer }}</p>
            {% endif %}
        {% endif %}

        <div class="navigation">
            {% if question_id > 0 %}
                <a href="/quiz/{{ question_id - 1 }}" class="quiz-navigation-button">Previous Question</a>
            {% endif %}

            {% if question_id < total_questions - 1 %}
                <a href="/quiz/{{ question_id + 1 }}" class="quiz-navigation-button">Next Question</a>
            {% endif %}
        </div>
    </div>
</body>
</html>
