{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>申论</title>
    <link href="{% static 'css/tabler.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tabler-flags.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tabler-payments.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tabler-vendors.min.css' %}" rel="stylesheet"/>
</head>
<body>
{% include 'header.html' %}
<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        申论题库
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">全部题库</h3>
                        </div>
                        <div class="list-group list-group-flush list-group-hoverable">
                            {% for exam in exams %}
                                <div class="list-group-item">
                                    <div class="row align-items-center">
                                        {% if exam.is_complete == 1 %}
                                            <div class="col-auto"><span class="badge bg-green"></span></div>
                                        {% elif exam.is_complete == 0 %}
                                            <div class="col-auto"><span class="badge bg-yellow"></span></div>
                                        {% else %}
                                            <div class="col-auto"><span class="badge bg-red"></span></div>
                                        {% endif %}
                                        <div class="col text-truncate">
                                            <a href="/argumentation/exam/{{ exam.id }}"
                                               class="text-reset d-block">年份：{{ exam.year }}</a>
                                            <div class="d-block text-muted text-truncate mt-n1">{{ exam.name }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>