{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>申论</title>
    <link href="{% static 'css/tabler.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tabler-flags.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tabler-payments.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tabler-vendors.min.css' %}" rel="stylesheet"/>
</head>
<body>
{% include 'header.html' %}
<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        {{ exam.name }}
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                    <div class="card-tabs">
                        <!-- Cards navigation -->
                        <ul class="nav nav-tabs">
                            {% for r in exam.reading_set.all %}
                                <li class="nav-item">
                                    <a href="?read_id={{ r.code }}"
                                       class="nav-link {% if r.code == read.code %}active{% endif %}">材料{{ r.code }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            <div class="card tab-pane active show">
                                <div class="card-body">
                                    {% for p in paragraph %}
                                        <p class="text-muted">
                                            {{ p.content }}
                                        </p>
                                    {% endfor %}
                                </div>
                                <div class="card-footer">
                                    <a href="/argumentation/answer/{{ exam.id }}/{{ read.code }}">
                                        {{ read.question }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="{% static 'js/tabler.min.js' %}" defer></script>
<script src="{% static 'js/demo.min.js' %}" defer></script>
</html>